gradio==5.31.0
openpyxl==3.1.2
peft==0.7.1
transformers==4.46.2
pyyaml==6.0.1
xlrd==2.0.1
python-docx==1.1.2
mammoth==1.8.0
docx2md==1.0.1
python-pptx==1.0.2
markdown==3.7
python-dotenv
beautifulsoup4==4.12.3
fastapi[standard]~=0.115.6
gradio-fastapi~=0.1.0
pyjwt
openai
pdfkit
pdfplumber
pdf2zh
pdf2docx
zhconv
argostranslate